@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --primary-hue: 32;
  --primary-saturation: 93%;
  --primary-lightness: 72%;

  --primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --primary-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 10%)
  );
  --primary-dark: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) - 10%)
  );

  /*  Neutral color */
  --neutral-hue: 0;
  --neutral-saturation: 0%;
  --neutral-lightness: 95%;

  --neutral: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    var(--neutral-lightness)
  );
  --neutral-light: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    calc(var(--neutral-lightness) + 10%)
  );
  --neutral-dark: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    calc(var(--neutral-lightness) - 10%)
  );
}

.button,
button {
  @apply bg-primary hover:bg-primary-dark rounded-md duration-200 px-8 py-2;
}

a {
  @apply hover:underline hover:underline-offset-4;
}
