@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --primary-hue: 32;
  --primary-saturation: 93%;
  --primary-lightness: 72%;

  --primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --primary-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 10%)
  );
  --primary-dark: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) - 10%)
  );

  /*  Neutral color */
  --neutral-hue: 0;
  --neutral-saturation: 0%;
  --neutral-lightness: 95%;

  --neutral: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    var(--neutral-lightness)
  );
  --neutral-light: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    calc(var(--neutral-lightness) + 10%)
  );
  --neutral-dark: hsl(
    var(--neutral-hue),
    var(--neutral-saturation),
    calc(var(--neutral-lightness) - 10%)
  );
}

.prose a.button {
  @apply no-underline h-10 hover:underline;
}
a {
  @apply hover:underline hover:underline-offset-4;
}

a:not(nav a):not(.button) {
  @apply underline underline-offset-4;
}

/* .last-card .last-card-text {
  @apply sm:h-fit md:h-64;
} */
